html,
body {
  margin: 0;

  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family: Poppins;
}

img {
  width: 40vw;
  min-width: 250px;
  max-width: 60vw;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2reml;
  color: #6c63ff;
  margin: 20px 30px;
}

p {
  color: #616161;
  margin: 10px 30px;
}
code {
  font-size: 1rem;
}

a {
  color: blue;
}

.url {
  margin-top: 20px;
}

.annimation-warpper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
